
body {
  margin: 0 auto;
}

form.select-audio {
  position: absolute;
  left: 5px;
  bottom: 85px;
}

form #selection {
  width: 120px;
  height: 34px;
  border-radius: 3px;
  border: 1px;
}
form #selection:focus {
  outline: none;
  border: none;
} 

#sound-button {
  width: 40px;
  height: 34px;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: #E4802F !important;
  border: 1px;
  border-radius: 3px;
  padding: 2px;
  box-sizing: border-box;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}
#sound-button:hover {
  background-color: #d16e1d;
}      
#sound-button svg {
  height: 22px;
  fill: #fff;
}
#sound-button .volume {
  display: none;
}

.viewer button, .viewer .optionSet .option {
  cursor: pointer;
  background-color: #E4802F;
}
.viewer .optionSet .option:hover {
  background-color: #d16e1d;
}

.icon {
  background: #70B5E0;
  border-radius: 50%;
  box-shadow: inset -15px -15px 0px 0px rgba(0, 0, 0, 0.1);
}
.anchor {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #f77;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: anchor 10s both infinite;
}

.place {
  position: absolute;
  width: 20px;
  height: 13px;
  background: #F2DDAA;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.anchor:before {
  position: absolute;
  content: "";
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 13px solid #f77;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.anchor:after {
  position: absolute;
  content: "";
  width: 30%;
  height: 30%;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.place1 {
  top: 77%;
  left: 64%;
}

.place2 {
  width: 17px;
  height: 10px;
  top: 67%;
  left: 25%;
}

.place3 {
  width: 17px;
  height: 10px;
  top: 36%;
  left: 75%;
}

.place4 {
  width: 17px;
  height: 10px;
  top: 26%;
  left: 35%;
}

.anchor1 {
  top: 55%;
  left: 65%;
  animation-delay: 0.3s;
}

.anchor2 {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%) scale(0.8);
  animation-delay: 0.6s;
}

.anchor3 {
  top: 20%;
  left: 75%;
  transform: translate(-50%, -50%) scale(0.8);
  animation-delay: 0.9s;
}

.anchor4 {
  top: 10%;
  left: 35%;
  transform: translate(-50%, -50%) scale(0.7);
  animation-delay: 1.2s;
}

@keyframes anchor {
  0% {
      opacity: 0;
      margin-top: -20px;
  }

  10% {
      opacity: 1;
      margin-top: 0px;
  }

  85% {
      opacity: 1;
      margin-top: 0px;
  }

  91% {
      opacity: 0;
      margin-top: -20px;
  }

  100% {
      opacity: 0;
      margin-top: -20px;
  }
}
.hotspot {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.hotspot.search {
  width: 24px;
  height: 24px;
  /* border: 1px solid #fff; */
}

.hotspot.search:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.hotspot.search:after {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  width: 3px;
  height: 8px;
  background: #fff;
  transform-origin: 50% 0%;
  transform: rotate(-45deg);
}

.hotspot.link {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.viewer[data-page="1"] .hotspot[data-page="1"] {
  display: block;
}

.viewer[data-page="2"] .hotspot[data-page="2"] {
  display: block;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 4;
  display: none;
}

.layer img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
  

.vjs-fullscreen-control {
  display: none !important;
}

.gyroTouchOptions {
  bottom: 40px !important;
}

.viewer {
  position: relative;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  outline: none;
}

.fullscreen-container .viewer {
  max-width: none;
  height: 100%;
}

.viewer:after {
  position: relative;
  display: block;
  content: "";
  padding-top: 60%;
  width: 100%;
  z-index: -1;
}

.viewer .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.viewer canvas {
  width: 100%;
  height: 100%;
}

.viewer video {
  position: absolute;
  visibility: hidden;
}

.infos {
  display: inline-block;
  max-width: 600px;
  text-align: left;
}

p.info .head {
  display: inline-block;
  padding-bottom: 5px;
  font-weight: bold;
}

p.info .value {
  vertical-align: middle;
  font-weight: 300;
  background: #eee;
  padding: 0px 6px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
}

.button.light {
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
  border-radius: 0;
  font-size: 14px;
}

p.info img {
  width: 100px;
  vertical-align: top;
}

.source {
  position: relative;
  margin: 10px auto;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  box-sizing: border-box;
  padding: 10px;
}

.source pre {
  font-size: 13px;
  text-align: left;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  ;
  word-break: break-all;
  white-space: pre-wrap;
}

.source span, .source a {
  font-size: 13px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-weight: 300;
  background: #eee;
  padding: 0px 6px;
  font-weight: bold;
  text-decoration: underline;
}

.source pre .comment {
  color: #6a6;
}

.qrcode {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background: #333;
}
.qrcode:before {
  position: absolute;
  content: "";
  background: url(../img/qrcode.png) no-repeat;
  background-size: 100% 100%;
  width: 22px;
  height: 22px;
  margin: 9px;
  top: 0;
  left: 0;
}
.qrviewer {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.qrviewer img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 300px;
  margin: auto; 
  z-index: 10;
}

.play-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
}
.play-container .play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  background: url(../img/play.svg) no-repeat;
  border: 0;
  background-size: 100% 100%;
}

  header .home {
    margin: 0;
    font-size: 26px;
    background-repeat: no-repeat;
    width: 198px;
    height: 27px;
    position: absolute;
    text-align: left;
  }
  
  .home img.egjs_logo{
    width: 34px;
    display: block;
    margin-bottom: -8px;
  }

  .home a {
    font-family: 'Zilla Slab', serif;
    line-height: 40px;
    letter-spacing: -0.8px;
    text-decoration: none;
    display: inline-block;
    color: #2B2B2B;
  }